[all]
%{ for ip in backends ~}
${ip}
%{ endfor ~}
%{ for ip in loadBalancer ~}
${ip}
%{ endfor ~}

[backends]
%{ for ip in backends ~}
${ip}
%{ endfor ~}

[loadBalancer]
%{ for ip in loadBalancer ~}
${ip}
%{ endfor ~}

[all:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
ansible_ssh_private_key_file=id_ecdsa
ansible_user=${vm_admin_user}