worker_processes 1;

events {
    worker_connections 1024;
}

http {
    upstream backends {
        %{ for ip in backends ~}
        server ${ip};
        %{ endfor ~}
    }

    server {
        listen 80;
        location / {
            proxy_pass http://backends;
        }
    }
}